html
  body
    .container-fluid
      .row-fluid
        .span10.main
          section#lga_list(name='facility_section', ng-controller='LGAEduCtrl')
            .inner
              header.clearfix
                h3 Baseline List&nbsp;
                  span.unmatched ({{}} unmatched)
                label.search Search
                  input(ng-model="lgaEduSearch", type="search")
              .table-wrapper
                table.table.table-bordered.table-hover
                  thead
                    tr
                      th
                      th  ID
                      th  Ward
                      th  Facility Name
                      th  Community
                      th  Facility Type
                  tbody
                    tr(ng-repeat='facilty in facilities | orderBy:predicate:reverse | filter:lgaEduSearch')(ng-click="select()")
                      td
                      td {{$index+1}}
                      td {{facility.ward_name}}
                      td {{facility.school_name}}
                      td {{facility.com_name}}
                      td {{facility.level_of_education}}
          section#nmis_list(ng-controller='NMISEduCtrl')
            .inner
              header.clearfix
                h3 Facility List&nbsp;
                  span.unmatched ({{}} unmatched)
                label.search Search
                  input(ng-model='nmisEduSearch', type="search")
                .guidance Click&nbsp;
                  button.btn.btn-small.btn-match.no-hover Match
                  | &nbsp;on the facility that matches&nbsp;
                  span.star 
                  | &nbsp;from the list above
              .table-wrapper
                table.table.table-bordered.table-hover
                  thead
                      th
                      th  ID
                      th  Ward
                      th  Facility Name
                      th  Community
                      th  Facility Type
                  tbody
                    tr(ng-repeat='facility in facilities | orderBy:predicate:reverse | filter:nmisEduSearch')
                      td 
                        button.btn.btn-small.btn-match(ng-click='match(facility)') Match
                      td {{$index+1}}
                      td {{facility.ward}}
                      td {{facility.school_name}}
                      td {{facility.community}}
                      td {{facility.level_of_education}}
        section.span2#matches_list(ng-controller='PairedListCtrl')
          #matched_list_{{$index}}
            h4 Matched Facilities&nbsp;
              span.matched-length ({{pairs.length}})
            .pairs-wrapper
              .pairs(ng-repeat='pair in pairs')
                button.btn.btn-small.btn-putback(ng-click="removePair()")
                 i.icon-putback
                dl 
                  dt {{pair[0].id}}
                  dd {{pair[0].facility_name}}
                  &nbsp;matches&nbsp;
                  dt {{pair[1].id}}
                  dd {{pair[1].facility_name}}
            div.putback-guidance If you made an error, put facilities back by clicking 
              button.btn.btn-small.btn-putback
                i.icon-putback
