html
  body
    .main-wrapper
      .main
        section#nmis_list(ng-controller='NMISCtrl')
          .inner
            label.search Search
              input(ng-model="nmisHealthSearch", type="search")
            h3 Baseline List&nbsp;
              span.unmatched ( {{ facilities.length - (localMatch.length/2) }} unmatched )
            .guidance Click on the facility to match
            .filler
            .table-header-wrapper
              table.table
                thead
                  tr
                    th
                    th ID
                    th
                      a.hover(ng-click = "predicate = 'ward'; reverse = false") Ward
                    th
                      a.hover(ng-click = "predicate = 'facility_name'; reverse = false") Facility Name
                    th
                      a.hover(ng-click = "predicate = 'community'; reverse = false") Community
                    th
                      a.hover(ng-click = "predicate = 'facility_type'; reverse = false") Facility Type
            .table-wrapper
              table.table
                tbody
                  tr.hover(ng-repeat='facility in facilities | orderBy:predicate:reverse | filter:nmisHealthSearch')(ng-click="select(facility)", ng-class='{active: currentNMIS._id == facility._id, matched: isMatched(facility._id)}')
                    td 
                    td {{$index+1}}
                    td {{facility.ward}}
                    td {{facility.facility_name}}
                    td {{facility.community}}
                    td {{facility.facility_type}}
        section#lga_list(name='facility_section', ng-controller='LGACtrl')
          .inner
            label.search Search
              input(ng-model="lgaHealthSearch", type="search")
            h3 Facility List&nbsp;
              span.unmatched ( {{ facilities.length - (localMatch.length/2) }} unmatched )
            .guidance Click&nbsp;
              button.btn.btn-small.btn-match.no-hover Match
              | &nbsp;on the facility that matches&nbsp;
              span.star 
              | &nbsp;from the list above
            .filler
            .table-header-wrapper
              table.table
                thead
                  tr
                    th
                    th ID 
                    th
                      a.hover(ng-click = "predicate = 'ward'; reverse = false") Ward
                    th
                      a.hover(ng-click = "predicate = 'facility_name'; reverse = false") Facility Name
                    th
                      a.hover(ng-click = "predicate = 'community'; reverse = false") Community
                    th
                      a.hover(ng-click = "predicate = 'facility_type'; reverse = false") Facility Type
            .table-wrapper
              table.table
                tbody
                  tr(ng-repeat='facility in facilities | orderBy:predicate:reverse | filter:lgaHealthSearch', ng-class='{matched: isMatched(facility._id)}')
                    td  
                      button.btn.btn-small.btn-match(ng-click='match(facility)') Match
                    td {{facility.seq_id}}
                    td {{facility.ward}}
                    td {{facility.facility_name}}
                    td {{facility.community}}
                    td {{facility.facility_type}}
      section#matches_list(ng-controller='PairedListCtrl')
        #matched_list_{{$index}}
          h4 Matched Facilities&nbsp;
            span.matched-length ({{pairs.length}})
          .pairs-wrapper
            .pairs(ng-repeat='pair in pairs')
              button.btn.btn-small.btn-putback(ng-click="removePair(pair)")
                .undo undo
              p
                strong {{pair.facility_name}}
                | &nbsp; (Facility List) -- (Baseline) &nbsp;
                strong {{pair.nmis.facility_name}}
          div.putback-guidance If you made an error, put facilities back by clicking 
            button.btn.btn-small.btn-putback
              .undo undo
