html
  body
    .container-fluid
      .row-fluid
        .span10
          section#lga_list(name='facility_section', ng-controller='LGAEduCtrl')
            .inner
            h3 Baseline List
              span.unmatched ({{}} unmatched)
            label.search Search
              input(type="search")
            table.table.table-bordered.table-hover
              thead
                tr
                  th
                  th  ID
                  th  Ward
                  th  Facility Name
                  th  Community
                  th  Facility Type
              tbody
                tr(ng-repeat='facilty in facilities')(ng-click="select()")
                  td
                  td {{$index+1}}
                  td {{facility['Schools.ward_name']}}
                  td {{facility['Schools.school_name']}}
                  td {{facility['Schools.com_name']}}
                  td {{facility['Schools.level_of_education']}}
                  dt  LGA:
                  //{{facility.mylga}}
                  //{{facility.mylga_state}}
          // lga_list
          //  | Sort by:
          //  .btn-group(data-toggle='buttons-checkbox')
              button.btn(btn-radio='\"Name\"', ng-model='radioModel', ng-click='predicate = \"facility_name\"; reverse=false')  Name
              button.btn(btn-radio='\"Type\"', ng-model='radioModel', ng-click='predicate = \"facility_type\"; reverse=false')  Type
              button.btn(btn-radio='\"Ward\"', ng-model='radioModel', ng-click='predicate = \"ward\"; reverse=false')  Ward
              button.btn(btn-radio='\"Community\"', ng-model='radioModel', ng-click='predicate = \"community\"; reverse=false')  Community
          section#nmis_list(ng-controller='NMISEduCtrl')
            .inner
              h3 Facility List
                span.unmatched ({{}} unmatched)
              label.search Search
                input(type="search")
              .guidance Click&nbsp;
                button.btn.btn-small.btn-match.no-hover Match
                | &nbsp;on the matching facility
              table.table.table-bordered.table-hover
                thead
                    th
                    th  ID
                    th  Ward
                    th  Facility Name
                    th  Community
                    th  Facility Type
                tbody
                  tr(ng-repeat='facility in facilities | orderBy:predicate:reverse')
                    td 
                      button.btn.btn-small.btn-match(ng-click='match(facility)') Match
                    td {{$index+1}}
                    td {{facility.ward}}
                    td {{facility.facility_name}}
                    td {{facility.community}}
                    td {{facility.facility_type}}
        section.span2#matches_list(ng-controller='PairedListCtrl')
          h4 Matched Facilities&nbsp;
            span.matched-length ({{pairs.length}})
          #matched_list_{{$index}}
            .pairs(ng-repeat='pair in pairs')
              button.btn.btn-small.putback(ng-click="removePair()")
               i.icon-putback
              dl 
                dt {{pair[0].id}}
                dd {{pair[0].facility_name}}
                &nbsp;matches&nbsp;
                dt {{pair[1].id}}
                dd {{pair[1].facility_name}}
            div.putback-guidance If you made an error, put facilities back by clicking 
              button.btn.btn-small.putback
                i.icon-putback