html
  body
    .container-fluid
      .row-fluid
        .span9
          // facilities_list
          section#lga_list(name='facility_section', ng-controller='LGAHealthCtrl')
              h3 Baseline List
                span.unmatched &nbsp;({{}} unmatched)
              label.search Search
                input(type="search")
              table.table.table-bordered.table-hover
                thead
                  tr
                    th
                    th  ID
                    th  Ward
                    th  Facility Name
                    th  Community
                    th  Facility Type
                tbody
                  tr(ng-repeat='facility in facilities | orderBy:predicate:reverse')(ng-click="select()")
                    td 
                    td  {{facility['HealthFacilities.id']}}
                    td  {{facility['HealthFacilities.ward_name']}}
                    td  {{facility['HealthFacilities.health_facility_name']}}
                    td  {{facility['HealthFacilities.com_name_h']}}
                    td  {{facility['HealthFacilities.health_facility_type']}}
                    // {{facility.mylga}}
                    // {{facility.mylga_state}}
              // lga_list
              // | Sort by:
              // .btn-group(data-toggle='buttons-checkbox')
                   button.btn(btn-radio='\"Name\"', ng-model='radioModel', ng-click='predicate = \"facility_name\"; reverse=false')  Name
                   button.btn(btn-radio='\"Type\"', ng-model='radioModel', ng-click='predicate = \"facility_type\"; reverse=false')  Type
                   button.btn(btn-radio='\"Ward\"', ng-model='radioModel', ng-click='predicate = \"ward\"; reverse=false')  Ward
                   button.btn(btn-radio='\"Community\"', ng-model='radioModel', ng-click='predicate = \"community\"; reverse=false')  Community
          section#nmis_list(ng-controller='NMISHealthCtrl')
            h3 Facility List
              span.unmatched &nbsp;({{}} unmatched)
            label.search Search
              input(type="search")
            .guidance Click&nbsp;
              button.match.no-hover Match
              | &nbsp;on the matching facility
            table.table.table-bordered.table-hover
              thead
                  th
                  th  ID
                  th  Ward
                  th  Facility Name
                  th  Community
                  th  Facility Type
              tbody
                tr(ng-repeat='facility in facilities | orderBy:predicate:reverse')
                  td 
                    button.match(ng-click='match(facility)') Match
                  td {{facility.id}}
                  td {{facility.ward}}
                  td {{facility.facility_name}}
                  td {{facility.community}}
                  td {{facility.facility_type}}
                  // button.btn.btn-danger(ng-click='fail(facility)') Report a problem
        section.span3#matches_list(ng-controller='PairedListCtrl')
        h4 Matched Facilities
          span.matched-length ({{pairs.length}})
          #matched_list_{{$index}}
            .pairs(ng-repeat='pair in pairs')
              dl 
                dt {{pair[0].id}}
                dd {{pair[0].facility_name}}
                &nbsp;matches&nbsp;
                dt {{pair[1].id}}
                dd {{pair[1].facility_name}}