html
  body
    .container-fluid
      .row-fluid
        .span10.main
          section#nmis_list(ng-controller='NMISCtrl')
            .inner
              h3 Baseline List&nbsp;
                span.unmatched ({{}} unmatched)
              label.search Search
                input(ng-model="nmisHealthSearch", type="search")
              .guidance Click on the matching facility to match
              .table-wrapper
                table.table.table-bordered.table-hover
                  thead
                      th
                      th  ID
                      th  Ward
                      th  Facility Name
                      th  Community
                      th  Facility Type
                  tbody
                    tr(ng-repeat='facility in facilities | orderBy:predicate:reverse | filter:nmisHealthSearch')(ng-click="select(facility)")(class="ng-class:facility.active")
                      td 
                      td {{$index+1}}
                      td {{facility.ward}}
                      td {{facility.facility_name}}
                      td {{facility.community}}
                      td {{facility.facility_type}}
          section#lga_list(name='facility_section', ng-controller='LGACtrl')
            .inner
              h3 Facility List&nbsp;
                span.unmatched ({{}} unmatched)
              label.search Search
                input(ng-model="lgaHealthSearch", type="search")
              .guidance Click&nbsp;
                button.btn.btn-small.btn-match.no-hover Match
                | &nbsp;on the facility that matches&nbsp;
                span.star 
                | &nbsp;from the list above
              .table-wrapper
                table.table.table-bordered.table-hover
                  thead
                    tr
                      th
                      th  ID
                      th  Ward
                      th  Facility Name
                      th  Community
                      th  Facility Type
                  tbody
                    tr(ng-repeat='facility in facilities | orderBy:predicate:reverse | filter:lgaHealthSearch')
                      td  
                        button.btn.btn-small.btn-match(ng-click='match(facility)') Match
                      td  {{$index+1}}
                      td  {{facility.ward_name}}
                      td  {{facility.health_facility_name}}
                      td  {{facility.com_name_h}}
                      td  {{facility.health_facility_type}}
        section.span2#matches_list(ng-controller='PairedListCtrl')
          #matched_list_{{$index}}
            h4 Matched Facilities&nbsp;
              span.matched-length ({{pairs.length}})
            .pairs-wrapper
              .pairs(ng-repeat='pair in pairs')
                button.btn.btn-small.btn-putback(ng-click="removePair(pair)")
                 i.icon-putback
                dl 
                  dt Facility
                  dd {{pair.health_facility_name}}
                  &nbsp;matches&nbsp;
                  dt NMIS
                  dd {{pair.nmis.facility_name}}
            div.putback-guidance If you made an error, put facilities back by clicking 
              button.btn.btn-small.btn-putback
                i.icon-putback
