html
  body
    .main-wrapper
      .main
        section#nmis_list(ng-controller='TotalsCtrl')
          .inner
            h3 LGA PROGRESS:&nbsp;
            .guidance 
            .filler
            .table-header-wrapper
              table.table
                thead
                  tr
                    th
                      a.hover(ng-click = "predicate = 'state'; reverse = false") state
                      i.carrot.icon-chevron-down(ng-show = "predicate == 'state'")
                    th
                      a.hover(ng-click = "predicate = 'lga'; reverse = false") lga
                      i.carrot.icon-chevron-down(ng-show = "predicate == 'lga'")
                    th
                      a.hover(ng-click = "predicate = 'total'; reverse = false") total(%)
                      i.carrot.icon-chevron-down(ng-show = "predicate == 'total'")
            .table-wrapper
              table.table
                tbody
                  tr.hover(ng-repeat='lga in totals | orderBy:predicate:reverse | filter:nmisHealthSearch')
                    td {{lga.state}}
                    td {{lga.lga}}
                    td {{lga.total}}
                      a.btn-nomatch(ng-class='{remove: !facility.rejected, addback: facility.rejected}', bs-popover="'../js/lib/partials/popover.html'", data-unique="1", data-placement="bottom", data-title="{{facility.facility_name}} cannot be matched")

