html
  body
    .main-wrapper
      .main
        section#nmis_list(ng-controller='TotalsCtrl')
          .inner
            h3 LGA PROGRESS:&nbsp;
            .guidance 
            .filler
            .table-header-wrapper
              table.table
                thead
                  tr
                    th
                      a.hover(ng-click = "predicate = 'lga_id'; reverse = false") LGA_ID 
                      i.carrot.icon-chevron-down(ng-show = "predicate == 'lga_id'")
                    th
                      a.hover(ng-click = "predicate = 'state'; reverse = true") STATE
                      i.carrot.icon-chevron-down(ng-show = "predicate == 'state'")
                    th
                      a.hover(ng-click = "predicate = 'lga'; reverse = true") LGA
                      i.carrot.icon-chevron-down(ng-show = "predicate == 'lga'")
                    th
                      a.hover(ng-click = "predicate = 'edu_pctfinished'; reverse = true") % Finished (EDUCATION)
                      i.carrot.icon-chevron-down(ng-show = "predicate == 'edu_pctfinished'")
                    th
                      a.hover(ng-click = "predicate = 'health_pctfinished'; reverse = true") % Finished (HEALTH)
                      i.carrot.icon-chevron-down(ng-show = "predicate == 'health_pctfinished'")
                    th
                      a.hover(ng-click = "predicate = 'pctfinished'; reverse = true") % Finished (TOTAL)
                      i.carrot.icon-chevron-down(ng-show = "predicate == 'pctfinished'")
            .table-wrapper
              table.table
                tbody
                  tr.hover(ng-repeat='totalDatum in totals | orderBy:predicate:reverse | filter:nmisHealthSearch')
                    td {{totalDatum.edu.lga_id}}
                    td {{totalDatum.edu.state}}
                    td {{totalDatum.edu.lga}}
                    td {{totalDatum.edu_pctfinished}} % ( {{totalDatum.edu.finished}} / {{totalDatum.edu.sum}})
                    td {{totalDatum.health_pctfinished}} % ( {{totalDatum.health.finished}} / {{totalDatum.health.sum}})
                    td {{totalDatum.pctfinished}} % ( {{totalDatum.edu.finished + totalDatum.health.finished}} / {{totalDatum.edu.sum + totalDatum.health.sum}})
  script
    $('body, .main-wrapper, .main, .inner').css('height', 'auto');
    $('.main').css('width','100%');

