html
  body
    .main-wrapper
      .main
        section#nmis_list(ng-controller='NMISCtrl')
          .inner
            label.search Search
              input(ng-model="nmisHealthSearch", type="search")
            h3 STATE PORGRESS: &nbsp;
            .guidance 
            .filler
            .table-header-wrapper
              table.table
                thead
                  tr
                    th
                    th ID
                    th
                      a.hover(ng-click = "predicate = 'ward'; reverse = false") Ward
                      i.carrot.icon-chevron-down(ng-show = "predicate == 'ward'")
                    th
                      a.hover(ng-click = "predicate = 'facility_name'; reverse = false") Facility Name
                      i.carrot.icon-chevron-down(ng-show = "predicate == 'facility_name'")
                    th
                      a.hover(ng-click = "predicate = 'community'; reverse = false") Community
                      i.carrot.icon-chevron-down(ng-show = "predicate == 'community'")
                    th
                      a.hover(ng-click = "predicate = 'facility_type'; reverse = false") Facility Type
                      i.carrot.icon-chevron-down(ng-show = "predicate == 'facility_type'")
            .table-wrapper
              table.table
                tbody
                  tr.hover(ng-repeat='facility in facilities | orderBy:predicate:reverse | filter:nmisHealthSearch')(ng-click="select(facility)", ng-class='{active: isSelected(facility), matched: isMatched(facility), rejected: facility.rejected}')
                    td 
                    td {{facility.short_id}}
                    td {{facility.ward}}
                    td {{facility.facility_name}}
                    td {{facility.community}}
                    td {{facility.facility_type}}
                      a.btn-nomatch(ng-class='{remove: !facility.rejected, addback: facility.rejected}', bs-popover="'../js/lib/partials/popover.html'", data-unique="1", data-placement="bottom", data-title="{{facility.facility_name}} cannot be matched")

