!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title NMIS/LGA Facility Matching Tool
    script(src='js/lib/jquery/jquery-2.0.0.min.js')
    script(src='js/lib/angular/angular.min.js')
    script(src='js/lib/bootstrap/bootstrap.min.js')
    script(src='js/lib/angular-strap.js')
    link(rel='stylesheet', href='/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/css/app.css')

  body

    div.view(ng-view)
    block body
