!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Matching Assistant
    link(rel='stylesheet', href='/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/css/app.css')

  body
    div(ng-controller='AppCtrl')
      div.navbar
        div.navbar-inner
          div.container
            a.brand(href='#') Matchmaker
            ul.nav
              li
                a(href='health') Health Facilities
              li
                a(href='education') Education Facilities

    div(ng-view)
    block body
