!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title NMIS/LGA Facility Matching Tool
    script(src='js/lib/angular/angular.min.js')
    script(src='js/lib/jquery/jquery-2.0.0.min.js')
    script(src='js/lib/ui-bootstrap-tpls-0.2.0.js')
    link(rel='stylesheet', href='/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/css/app.css')

  body
    .navbar
      .navbar-inner
        .container
          a.brand(href='#')
            img(src='/images/logo.png')
            | NMIS/LGA Facility Matching Tool
          span.lga LGA: {{current_lga}}
          ul.nav
            li
              a(ng-href='{{current_lga}}/health') Health Facilities
            li
              a(ng-href='{{current_lga}}/education') Education Facilities
          button.btn.printouts Download Printouts

    div.view(ng-view)
    block body
