!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title NMIS/LGA Facility Matching Tool
    script(src='js/lib/angular/angular.min.js')
    script(src='js/lib/jquery/jquery-2.0.0.min.js')
    script(src='js/lib/ui-bootstrap-tpls-0.2.0.js')
    link(rel='stylesheet', href='/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/css/app.css')

  body
    .navbar
      .navbar-inner
        .container
          a.brand(href='#')
            img(src='/images/logo.png')
            | NMIS/LGA Facility Matching Tool
          span.lga LGA: {{current_lga_name}}
          ul.nav
            li(class="ng-class:{ active: currentSector == 'health'}")
              a(ng-href='{{current_lga}}/health') Health Facilities
            li(class="ng-class:{ active: currentSector == 'edu'}")
              a(ng-href='{{current_lga}}/education') Education Facilities
          a.button.btn.printouts(ng-href='/api/download/nmis/{{current_lga}}/{{currentSector}}',target='_blank') BASELINE
          a.button.btn.printouts(ng-href='/api/download/lga/{{current_lga}}/{{currentSector}}',target='_blank') FACILITY
          .download Download Lists:

    div.view(ng-view)
    block body
